/* Just extra styles for tailwind */
/*! purgecss start ignore */
.hover\:fill-child-white:hover > svg {
  fill: #fff !important;
}

.min-h-screenx1\.5 {
  min-height: 150vh;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent;
  height: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 12px;
  border: 3px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: value($color-basic, dark);
  }
}

.nuxt-link-active {
  border-bottom: 1px solid white;
}

.logo.nuxt-link-active {
  border-bottom: 1px solid transparent;
}
/*! purgecss end ignore */
