:root {
  /* Border */
  --border-radius-small: 4px;
  --border-width-small: 1px;

  /* Breakpoints (check medias at the end of the file) */
  --breakpoint-xxs: 400px;
  --breakpoint-xs: 640px;
  --breakpoint-s: 768px;
  --breakpoint-m: 1024px;
  --breakpoint-l: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1940px;

  /* Color Basic */
  --color-basic-brightest: #ffffff;
  --color-basic-brighter: #f3f3f5;
  --color-basic-bright: #d8dadf;
  --color-basic-normal: #b3b5bb;
  --color-basic-dark: #686c7c;
  --color-basic-darker: #464b5f;
  --color-basic-darkest: #101116;

  /* Color Primary */
  --color-primary-brightest: #ffc8a3;
  --color-primary-brighter: #ffaf7a;
  --color-primary-bright: #ff7e29;
  --color-primary-normal: #ff6600;
  --color-primary-dark: #c75000;
  --color-primary-darker: #572300;
  --color-primary-darkest: #1f0c00;

  /* Font */
  --font-family: Outfit, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue',
    sans-serif;
  --font-family-heading: Besley, system-ui, -apple-system, Georgia, serif;
  --font-family-hand: 'Nanum Pen Script', system-ui, -apple-system, 'Segoe UI',
    'Helvetica Neue', sans-serif;
  --font-family-code: VT323, system-ui, -apple-system, serif;

  --font-size-xs: clamp(0.5rem, 0.7vw, 0.75rem);
  --font-size-s: clamp(0.75rem, 0.8vw, 0.9rem);
  --font-size-m: clamp(1rem, 1.05vw, 1.25rem);
  --font-size-l: clamp(1.25rem, 1.55vw, 1.5rem);
  --font-size-xl: clamp(1.375rem, 1.875vw, 2.25rem);
  --font-size-xxl: clamp(1.75rem, 2.35vw, 2.8rem);
  --font-size-xxxl: clamp(2rem, 3vw, 3.25rem);
  --font-size-xxxxl: clamp(3rem, 5.5vw, 6.5rem);

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Transition */
  --transition-all: all;
  --transition-colors: background-color, border-color, color, fill, stroke,
    outline-color;
  --transition-opacity: opacity;
  --transition-shadow: box-shadow;
  --transition-transform: transform;

  --transition-duration-fastest: 50ms;
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 300ms;
  --transition-duration-slow: 2s;
}

/* Breakpoints Medias */
@custom-media --breakpoint-xxs (min-width: 400px);
@custom-media --breakpoint-xs (min-width: 640px);
@custom-media --breakpoint-s (min-width: 768px);
@custom-media --breakpoint-m (min-width: 1024px);
@custom-media --breakpoint-l (min-width: 1280px);
@custom-media --breakpoint-xl (min-width: 1440px);
@custom-media --breakpoint-xxl (min-width: 1940px);
